<div>
    <h1 class="text-color-4" style="padding-left:16px; padding-top:8px">Contact Me</h1>

    <div class="social-media-element text-color-white">
        <i class="fa fa-twitter-square"></i>
        <a href="https://twitter.com/LocalRaptor">&nbsp;Twitter</a> <br>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fa fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/alexander-louie-982338174/">&nbsp;LinkedIn</a> <br>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fa fa-phone-square">&nbsp;720-301-9572</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fa fa-envelope-square">&nbsp;Alexander.Louie@colorado.edu</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fa fa-github-square">&nbsp;Zoolouie</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fa fa-map-pin">&nbsp;Boulder, CO</i>
    </div>
</div>