<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>
<div>
    <h1 class="text-color-4" style="padding-left:16px; padding-top:8px">Contact Me</h1>
    <div class="social-media-element text-color-white">
        <i class="fab fa-discord">&nbsp;Zoolouie#7064</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/alexander-louie-982338174/">&nbsp;LinkedIn</a> <br>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fas fa-phone-square">&nbsp;720-301-9572</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fas fa-envelope-square">&nbsp;Alexander.Louie@colorado.edu</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fab fa-github-square">&nbsp;Zoolouie</i>
    </div>
    <div class="social-media-element text-color-white">
        <i class="fas fa-map-pin">&nbsp;Boulder, CO</i>
    </div>
</div>