<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="background">
    <div class="sidenav">
      <app-about-me></app-about-me>
      <div class="technical-skills">
        <app-technical-skills></app-technical-skills>
      </div>
      <app-social-media></app-social-media>
    </div>

    <app-social-media></app-social-media>
    <h1 style="color: #4F646F">
      Alexander Louie
    </h1>
  </div>
  <div class="main">
    <div class="container">
      <div class="row row-size">
        <div class="col-md-6">
          <app-clickable-link-box [information]="bugSplat"></app-clickable-link-box>
        </div>
        <div class="col-md-6">
          <div style="margin-left:10px">
            <app-clickable-link-box [information]="buffLOL"></app-clickable-link-box>
          </div>
        </div>
      </div>
      <div class="row row-size row-padding-2" style="padding-top: 57px;">
        <div class="col-md-6">
          <app-clickable-link-box [information]="interests"></app-clickable-link-box>
        </div>
        <div class="col-md-6">
          <div style="margin-left:10px">
            <app-clickable-link-box [information]="courseAssistant"></app-clickable-link-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>