<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="background">
    <div class="sidenav-large sidenav-small">
      <h1 style="font-size: 20px; text-align: center; padding-top: 10px" class="text-color-4">
        Zander Louie
      </h1>
      <div style="margin-top:10px">
        <app-about-me></app-about-me>
      </div>
      <div class="technical-skills">
        <app-technical-skills></app-technical-skills>
      </div>
      <app-social-media></app-social-media>
    </div>

    <app-social-media></app-social-media>
  </div>
  <div class="main-large main-small">
    <div class="container">
      <div class="row row-size one">
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="bugSplat"></app-clickable-link-box>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="buffLOL"></app-clickable-link-box>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="caTaLocator"></app-clickable-link-box>
          </div>
        </div>
      </div>
      <div class="small-buffer tiny-buffer" style="margin-top:15px;"></div>
      <div class="row row-size row-padding-2 two" >
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="interests"></app-clickable-link-box>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="courseAssistant"></app-clickable-link-box>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="inner-box">
            <app-clickable-link-box [information]="gameDev"></app-clickable-link-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>