  .bottom-line {
      border-bottom: 1px solid green;
  }

  .screen-filler {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.background {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.technical-skills {
    padding-left: 16px; 
}

.inner-box {
    height:100%;
    width:100%;
}
.row-size {
    height: 310px;
}

@media all and (max-width:400) {
    .one {
        width: 100%;
        padding-top: 500px;
    }
}

@media all and (max-width:800px) //800px for tablets and phones.
{
    .one,.two
    {
        display: block; 
        float: none; 
        width: 100%;
    }

    .small-buffer
    {
        width: 100%;
        height: 200px;
    }

    .main-small
    {
        width: 60%; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
        z-index: 100;
        position: absolute;
        right: 0;
    }
    .sidenav-small
    {
        height: 100%;
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }
}

@media all and (min-width:800px) 
{
    .main-large
    {
        width: 75%; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
        z-index: 100;
        position: absolute;
        right: 0;
    }
    .sidenav-large
    {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }
}


.main {
    width: 75%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    z-index: 100;
    position: absolute;
    right: 0;
    
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}