/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/scss/bootstrap";


.style-color-1 {
    background-color: black;
}

.style-color-2 {
    background-color: black;
}

.style-color-3 {
    background-color: #66FCF1;
}

.style-color-4 {
    background-color: #45A29E;
}

.style-color-5 {
    background-color: #100c0a;
}

.text-color-white {
    color:white;
}
.text-color-4 {
    color: #FF652F;
}
.text-color-5 {
    color: #4EA5D9;
}